<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - goff.us</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />


</head>
<body>
    <header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">@Html.Raw("@")goff.us</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                @* <li class="nav-item active">
                    <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                </li> *@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        STATS
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/allergy">Allergy Index</a>
                        <a class="dropdown-item" href="/house">House Temps</a>
                        <a class="dropdown-item" href="/pi">Pi Stats</a>
                        <a class="dropdown-item" href="/weather">Weather</a>
                        <a class="dropdown-item" href="/coc">Clash of Clans</a>
                        <a class="dropdown-item" href="/humphrey">Humphrey</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/swagger">API Docs</a>
                    </div>
                </li>
                <!-- <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/about">ABOUT</a>
                    </li>
            </ul>

        </div>
    </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto py-3 text-muted">
    @* <footer class="border-top footer text-muted"></footer> *@
        <div class="container">
            &copy; 2020 - www.goff.us
            @* - <a asp-area="" asp-page="/Privacy">Privacy</a> *@
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
