@page
@model IndexModel
@{
    ViewData["Title"] = "Goff.us";
}

<div class="text-center">
<div class="cactus-class">
        <img class="cactus-img" src="/images/cactus.png" alt="" srcset="">
</div>
</div>
