@page
@model www.goff.us.Pages.PiModel
@{
}

   <div class="col-12" style="text-align:center">
        <br /><br />
        <span class="h3 text-info">24 Hour Pi-Hole DNS Data</span>
        <br /><br />
    </div>

<table class="table table-striped table-hover table-borderless table-sm">
      <tr>
        <td class="text-left">
          24 Hour Blocks
        </td>
       <td class="text-left">
         @Html.DisplayFor(m => m.PiDatas.Blocks24Hours)
        </td>
      </tr>
      <tr>
        <td class="text-left">
          24 Hour DNS Queries
        </td>
        <td class="text-left">
          @Html.DisplayFor(m => m.PiDatas.DNSQ24Hours)
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Last Record Time Stamp
        </td>
        <td class="text-left">
          @Html.DisplayFor(m => m.PiDatas.PiRecordStamp)
        </td>
      </tr>
</table>